<!-- <div class="row">
    <div class="col-md-8">
        <div class="container">
            <h2>Reminders of Him</h2>
            <p>After serving five years in prison for a tragic mistake,
                Kenna Rowan returns to the town where it all went wrong, hoping to reunite with her
                four-year-old daughter.
                But the bridges Kenna burned are proving impossible to rebuild.</p>

            <p>Add text and tag you friends: </p>


            <textarea style="width: 50%" [mention]="options"></textarea>
        </div>
    </div>
    <div class="col-md-4">
        <div class="container2">
            <img src="../../../assets/remind.jpg" class="img-responsive" style="width: 100%;" alt="Image" />
        </div>
    </div>

</div> -->

<div class="row container2">
    <div class="col-md-8">
        <!-- <img src="../../../assets/home.jpg" style="max-width: 800px; margin: auto;" /> -->
        <img src="../../../assets/home.jpg" style="width: 100%;" />
    </div>
    <!-- <div class="col-md-4" style="max-width: 800px; margin: auto;"> -->
    <div class="col-md-4">
        <h2>Anime</h2>
        <p>Anime is a Japanese animation style that is produced or influenced by it. It is the Japanese term for cartoon
            or animation where the Japanese use the word to describe all cartoons irrespective of the nation. However,
            outside Japan, anime denotes animation movies that come exclusively from Japan, distinguished by blazing
            graphics, energetic characters, and attractive themes such as sci-fi, romance, and supernatural forces.
            Therefore, consider this syllogism: all anime shows are cartoons, but not all cartoons are anime.
        </p>
        <p>Add text and tag you friends: </p>
        <textarea style="width: 100%" [mention]="options"></textarea>
    </div>
</div>