<div class="container text-center">
    <h3><em>We love anime!</em></h3>
    <p>We have created a list of popular anime characters</p>

    <div class="row">
        <div class="col-sm-3 a-box">
            <img src="../../../assets/anya.jpg" alt="Random Name" class="box-img">
            <p><strong>Anya Forger</strong></p>
        </div>
        <div class="col-sm-3 a-box">
            <img src="../../../assets/gojo.jpeg" alt="Random Name" class="box-img">
            <p><strong>Gojo Satoru</strong></p>
        </div>
        <div class="col-sm-3 a-box">
            <img src="../../../assets/hinata.jpg" alt="Random Name" class="box-img">
            <p><strong>Hinata Shoko</strong></p>
        </div>
        <div class="col-sm-3 a-box">
            <img src="../../../assets/kakashi.jpg" alt="Random Name" class="box-img">
            <p><strong>Kakashi Hatake</strong></p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3 a-box">
            <img src="../../../assets/luffy.jpg" alt="Random Name" class="box-img">
            <p><strong>Monkey D. Luffy</strong></p>
        </div>
        <div class="col-sm-3 a-box">
            <img src="../../../assets/killua.jpg" alt="Random Name" class="box-img">
            <p><strong>Killua</strong></p>
        </div>
        <div class="col-sm-3 a-box">
            <img src="../../../assets/mikasa.jpeg" alt="Random Name" class="box-img">
            <p><strong>Mikasa Ackerman</strong></p>
        </div>
        <div class="col-sm-3 a-box">
            <img src="../../../assets/naruto.jpg" alt="Random Name" class="box-img">
            <p><strong>Naruto Uzumaki</strong></p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3 a-box">
            <img src="../../../assets/nezuko.jpg" alt="Random Name" class="box-img">
            <p><strong>Nezuko</strong></p>
        </div>
        <div class="col-sm-3 a-box">
            <img src="../../../assets/gin.jpg" alt="Random Name" class="box-img">
            <p><strong>Gintoki</strong></p>
        </div>
        <div class="col-sm-3 a-box">
            <img src="../../../assets/roy.jpg" alt="Random Name" class="box-img">
            <p><strong>Roy Mustang</strong></p>
        </div>
        <div class="col-sm-3 a-box">
            <img src="../../../assets/sasuke.jpg" alt="Random Name" class="box-img">
            <p><strong>Sasuke Uchiha</strong></p>
        </div>
    </div>
</div>