/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/prebuilt-themes/purple-green.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bg-light .mat-dialog-container{
    color: black !important;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

      
.mat-snack-bar-container {
    background-color: powderblue;
}

.mat-snack-bar-container.snackbar-fail{
    background-color: #f99;
}